.container {
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 20px;
}

.custom-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.custom-card2 {
  padding: 20px;
  background-color: #ffffff;
}
.fontsize {
  font-size: 18px;
  font-family: "微软雅黑", sans-serif;
}
.customCard {
  margin-bottom: 20px;
  margin-top: 20px;
}