.headerStyle {
  display: flex;
  align-items: center;
  background-color: white;
}
.logoStyle {
  height: 32px;
  margin: -20px;
}
.divContainer {
  position: absolute;
  top: -4px;
  left: 1762px;
}
.userName{
  position: relative;
  left: 8px;
  color: #A9A9A9;
}

.customPopover {
  width: 1000px;
  height: 200px;
}