.noteDetails {
    display: flex;
    align-items: start;
}

.noteCover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.noteDescription {
    max-width: 200px;
}

.boldText {
    margin-bottom: 5px;
    font-weight: bold;
}

.grayText {
    color: gray;
    font-size: small;
}

.link {
    display: block;
    overflow: hidden;
    /* textOverflow: ellipsis;
    whiteSpace: nowrap;
    maxWidth: 150px; */
}

.smallText {
    color: gray;
    font-size: smaller;
}
