.container {
    position: relative;
  }
  
  .pageTitle {
    font-size: 22px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", sans-serif; /* 使用 Apple San Francisco 字体 */
    font-weight: normal; /* 取消加粗 */
    color: #333;
    /* 其他样式属性 */
    transition: left 0.3s ease-in-out; /* 添加过渡效果 */
  }
  
  .pageTitle.shifted {
    left: 1000px; /* 调整合适的值 */
  }